In [2]:
# 1 Write a program to reverse a string.

s=input("\n Enter the string ")
s=s[::-1]
print("\n Reverse of String :",s)

 Enter the string sagar

 Reverse of String : ragas

In [22]:
#2 Check if a string is a palindrome.
s=input("\n Enter the String ")
r=s
i=0
j=len(s)-1
c=0
while(s[i]==s[j]):
    i=i+1
    j=j-1
    if(i==j):
        c=1
        break
if(c==1):
    print("\n Palindrome ")
else:
    print("\n Not Palindrome")
    
# Second Method

s=input("\n Enter the string ")
r=s[::-1]
print("\n R ",r)
if(r==s):
    print("\n palindrome ")
else:
    print("\n Not Palindrome ")

 Enter the String namna

 Not Palindrome

 Enter the string naman

 R  naman

 palindrome

In [23]:
#3 Convert a string to uppercase.
s=input("\n Enter the String ")
s=s.upper()
print("\n String after Upper Case :",s)

 Enter the String sagar

 String after Upper Case : SAGAR

In [25]:
#4 Convert a string to lowercase.
s=input("\n Enter the String ")
s=s.lower()
print("\n String after Lower Case :",s)

 Enter the String Sagar

 String after Lower Case : sagar

In [27]:
#5. Count the number of vowels in a string.
s=input("\n Enter the String ")
i=0
c=0
while(i<=len(s)-1):
    if(s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i]=='o' or s[i]=='u' or s[i]=='A' or s[i]=='E' or s[i]=='I' or s[i]=='O' or s[i]=='U'):
        c=c+1
    i=i+1
print("\n Count of Vowels :",c)

 Enter the String Ajay Kumar Gupta

 Count of Vowels : 6

In [9]:
#6. Count the number of consonants in a string.
s=input("\n Enter the String ")
vowel="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
c=0
for i in s:
    if i in vowel:
         c=c+1
print("\n Consonant : ",c)
# if any(s2 in s for s2 in vowel):
#     print("\n Contains vowel")
# else:
#     print("\n no Vowels")

 Enter the String sagar is good boy

 Consonant :  8

In [16]:
#7 Remove all whitespaces from a string.

s=input("\n Enter the String ")
r=''
for i in s:
    if i!=" ":
        r=r+i
print("\n After removing space :",r)

 Enter the String sagar is boy
sagarisboy

In [18]:
#8 Find the length of a string without using the `len()` function.
s= input("\n Enter the String ")
c=0
for i in s:
    c=c+1
print(c)

 Enter the String sagar is a boy
14

In [19]:
#9 Check if a string contains a specific word.
s=input("\n Enter the String ")
s2=input('\n Enter the word to check ')
if s2 in s:
    print("\n Yes present ")
else:
    print("\n Not present")

 Enter the String sagar is boy

 Enter the word to check boy

 Yes present

In [23]:
#10. Replace a word in a string with another word.
s=input("\n Enter the String")
w=input("\n Enter the word to replace ")
j=input("\n Enter the word to be replaced with ")
s=s.replace(w,j)
print("\n String after replace :",s)

 Enter the Stringsagar is boy

 Enter the word to replace boy

 Enter the word to be replaced with girl

 String after replace : sagar is girl

In [25]:
#11 Count the occurrences of a word in a string.
s=input("\n Enter the String ")
s2=input("\n Enter the word ")
c=0
for i in s:
    if(i==s2):
        c=c+1
print("\n Occurence :",c)

 Enter the String sagar is boy

 Enter the word a

 Occurence : 2

In [26]:
#12 Find the first occurrence of a word in a string.
s=input("\n Enter the String ")
s2=input("\n Enter the word ")
i=s.index(s2)
print("\n index :",i)

 Enter the String sagar is boy

 Enter the word b

 index : 9

In [27]:
#13. Find the last occurrence of a word in a string.
s=input("\n Enter the string ")
s2=input("\n Enter the word ")
r=s.rfind(s2)
print("\n Last Occurence :",r)

 Enter the string sagar is boy

 Enter the word r

 Last Occurence : 4

In [28]:
#14 Split a string into a list of words.
s=input("\n Enter the string ")
s=s.split()
print("\n String after Split :",s)

 Enter the string sagar is a boy

 String after Split : ['sagar', 'is', 'a', 'boy']

In [31]:
#15. Join a list of words into a string.
s=['sagar', 'is', 'a', 'boy']
s2=' '.join(s)
print("\n String after join :",s2)

 String after join : sagar is a boy

In [33]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
s=input("\n Enter String ")
s=s.replace(' ','_')
print("\n String After replacement ",s)

 Enter String sagar is boy

 String After replacement  sagar_is_boy

In [35]:
#17. Check if a string starts with a specific word or phrase.
s=input("\n Enter the String ")
s2=input("\n Enter the word ")
if(s.startswith(s2)):
    print("\n Yes starting with ",s2)
else:
    print("\n Not Starting with ",s2)

 Enter the String sagar is boy

 Enter the word sagar

 Yes starting with  sagar

In [37]:
#18. Check if a string end with a specific word or phrase.
s=input("\n Enter the String ")
s2=input("\n Enter the word ")
if(s.endswith(s2)):
    print("\n Yes Ending with ",s2)
else:
    print("\n Not Starting with ",s2)

 Enter the String sagar is boy

 Enter the word boy

 Yes Ending with  boy

In [38]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
s=input("\n Enter the String ")
s=s.title()
print("\n in Title :",s)

 Enter the String sagar is boy

 in Title : Sagar Is Boy

In [49]:
#20. Find the longest word in a string.
s=input("\n Enter the String ")
s=s.split()
print(s)
len=0
for i in s:
    print(type(i))
    l=len(i)
    if l>len:
        len=l
        s2=i
print("\n Longest Word is ",s2)

 Enter the String sagar is good boy
['sagar', 'is', 'good', 'boy']
<class 'str'>

TypeError: 'int' object is not callable

In [ ]:
#21. Find the Shortest word in a string.
s=input("\n Enter the String ")
s=s.split()
print(s)
len=0
for i in s:
    print(type(i))
    l=len(i)
    if l<len:
        len=l
        s2=i
print("\n Shortest Word is ",s2)

In [1]:
#22. Reverse the order of words in a string.
s=input("\n Enter the String ")
c=""
for i in s:
    i=i[::-1]
    c=i+c
print("\n Reverse :",c)

 Enter the String sagara is good boy

 Reverse : yob doog si aragas

In [2]:
#23. Check if a string is alphanumeric.
s=input("\n Enter the String ")
i=0
j=len(s)-1
c=0
while(s[i]==s[j]):
    i=i+1
    j=j-1
    if(i==j):
        c=1
        break
if(c==1):
    print("\n Palindrome ")
else:
    print("\n Not Palindrome ")

 Enter the String naman

 Palindrome

In [1]:
#24. Extract all digits from a string.
s=input("\n Enter the String ")
s2=""
for i in s:
    if(i.isnumeric()):
        s2=s2+i
print(s2)

 Enter the String sagar 262 hwugdsu8989 hsud87329
262898987329

In [2]:
#25. Extract all alphabets from a string.
s=input("\n Enter the string ")
s2=""
for i in s:
    if i.isalpha():
        s2=s2+i
print(s2)

 Enter the string sagar 1234 hsau 27782
sagarhsau

In [3]:
#26. Count the number of uppercase letters in a string.
s=input("\n Enter the string ")
c=0
for i in s:
    if i.isupper():
        c=c+1
print("\n Upper Case count ",c)

 Enter the string Sagar Agrawal Is A Good Boy

 Upper Case count  6

In [4]:
#27. Count the number of lowercase letters in a string.
s=input("\n Enter the string ")
c=0
for i in s:
    if i.islower():
        c=c+1
print("\n Lower Case count ",c)

 Enter the string Sagar Agrawal Is A Good Boy

 Lower Case count  16

In [5]:
#28. Swap the case of each character in a string.

s=input("\n Enter the String ")
s2=s.swapcase()
print('\n String after swap :',s2)

 Enter the String Sagar Is A Good Boy

 String after swap : sAGAR iS a gOOD bOY

In [5]:
#29. Remove a specific word from a string.
s=input("\n Enter the String ")
s2=input("\n Enter the word ")
s3=""
l=s.split()
print(l)
print("\n Word to Remove :",s2)
for i in l:
    print("i :",i)
    if i!=s2:
        s3=s3+' '.join(i)
print("\n New string after remove ",s3)

 Enter the String sagar is good boy

 Enter the word good
['sagar', 'is', 'good', 'boy']

 Word to Remove : good
i : sagar
i : is
i : good
i : boy

 New string after remove  s a g a ri sb o y

In [9]:
#30. Check if a string is a valid email address.
import re
d=0
s=input("\n Enter the Email Add to validate : ")
for i in s:
    if i =='@':
        c=1
        break
    else:
        d=1
if(c==1):
    print("\n Valid Email Add ")
if(d==0):
    print("\n Invalid Email Add ")

 Enter the Email Add to validate : sagar@tcs.com

 Valid Email Add

In [10]:
#31. Extract the username from an email address string.
s=input("\n Enter the Email id : ")
l=s.split('@')[0]
print("\n username :",l)

 Enter the Email id : sagar@tcs.com

 username : sagar

In [11]:
#32. Extract the domain name from an email address string.
s=input("\n Enter the email id :")
l=s.split('@')[1]
print("\n Domain Name :",l)

 Enter the email id :sagar@tcs.com

 Domain Name : tcs.com

In [12]:
#33. Replace multiple spaces in a string with a single space.

s="Hello     world!   How   are   you?"
l=s.split()
s2=" ".join(l)
print("\n String after removing extra space :",s2)

 String after removing extra space : Hello world! How are you?

In [15]:
#34. Check if a string is a valid URL.
s=input("\n Enter the URL : ")
if '.com' in s and 'https://' in s :
    print("\n Valid Url ")
else:
    print("\n Invalid Url ")

 Enter the URL : https://sagar.com

 Valid Url

In [24]:
#35. Extract the protocol (http or https) from a URL string.
s=input("\n Enter the url ")
l2=[]
i=s.find('//')
print("\n i ",i)
s3=s[:i]  
print("\n protocol :",s3)

 Enter the url http://sagar.com

 i  5

 protocol : http:

In [3]:
#36. Find the frequency of each character in a string.
s=input("\n Enter the string ")
f={}
for i in s:
    if i in f:
        f[i]=f[i]+1
    else:
        f[i]=1
for char,freq in f.items():
    print(f"Character: '{char}', Frequency: {freq}")

 Enter the string sagar is sagar

 i in f  True

 i in f  True

 i in f  True

 i in f  True

 i in f  True

 i in f  True

 i in f  True

 i in f  True
Character: 's', Frequency: 3
Character: 'a', Frequency: 4
Character: 'g', Frequency: 2
Character: 'r', Frequency: 2
Character: ' ', Frequency: 2
Character: 'i', Frequency: 1

In [5]:
#37. Remove all punctuation from a string.
s=input("\n Enter the String ")
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in s:
    if i in punc:
        s=s.replace(i,"")
print("\n String :",s)

 Enter the String sagar. is ! boyd...

 String : sagar is  boyd

In [9]:
#38. Check if a string contains only digits.
s=input("\n Enter the string ")
if s.isdigit():
    print("\n yes contains only digit ")
else:
    print("\n no ")

 Enter the string safar12

 no

In [11]:
#39. Check if a string contains only alphabets.
s=input("\n Enter the String ")
if s.isalpha():
    print("\n Contains only alphabets")
else:
    print("\n Does not contain anything")

 Enter the String saga2223

 Does not contain anything

In [12]:
#40. Convert a string to a list of characters.
s=input("\n enter the string ")
l=list(s)
print("\n list ",l)

 enter the string sagar

 list  ['s', 'a', 'g', 'a', 'r']

In [15]:
#41. Check if two strings are anagrams.
s="listen"
s2="silent"
if sorted(s)==sorted(s2):
    print("\n yes anagram")
else:
    print("\n not anagram ")

 yes anagram

In [16]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [17]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [25]:
#44. Find the most frequent word in a string.
s=input("\n Enter the string ")
s=s.split()
n=len(s)
f=0
count=0
for i in range(n):
    for j in range(i+1,n):
        if s[i]==s[j]:
            count=count+1
    if count>=f:
        r=s[i]
        f=count
print(f"\n Most Occured word {r} and times {f} ",r,f)

 Enter the string sagar is good boy sagar sagar sagar

 Most Occured word sagar and times 6  sagar 6

In [1]:
#45. Find all unique words in a string.
s=input("\n Enter the String ")
s=s.split()
s=set(s)
print("\n Set ",s)

 Enter the String sagar is sagar boy of boy

 Set  {'boy', 'of', 'sagar', 'is'}

In [5]:
#46. Count the number of syllables in a string.
s=input("\n Enter the string ")
s=s.lower()
c=0
for i in s:
    if i in 'a' or i in 'e' or i in 'i' or i in 'o' or i in 'u':
        c=c+1
print("\n  syllables ",c)

 Enter the string sagar is good boy

  syllables  6

In [7]:
#47. Check if a string contains any special characters.
import re
def find(s):
    s=s.lower()
    p=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    return bool(p.search(s))

s1="'Hello, world!' contains special characters"
s2="'This is a test.' contains special characters"
print("\n String one ",find(s1))
print("\n String one ",find(s2))

 String one  True

 String one  True

In [9]:
#48. Remove the nth word from a string.
s=input("\n enter the string ")
l=s.split()
n=int(input("\n Enter the Nth number "))
if n>=1 and n<=len(l):
    l2=l.pop(n-1)
s2=' '.join(l)
print("\n Removed Word ",l2)
print("\n String after remove ",s2)

 enter the string sagar is good boy

 Enter the Nth number 3

 Removed Word  good

 String after remove  sagar is boy

In [12]:
#49. Insert a word at the nth position in a string.
s=input("\n Enter the String ")
l=s.split()
n=int(input("\n Enter the number "))
word=input("\n Enter the word ")
l2=l.insert(n-1,word)
print("\n Push ",l2)
print("\n string",' '.join(l))

 Enter the String sagar is boy

 Enter the number 3

 Enter the word good

 Push  None

 string sagar is good boy

In [20]:
#50. Convert a CSV string to a list of lists.
csv= "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
l=csv.split('\n')
print(l)
r=[]
for i in l:
    l2=i.split(',')
    r.append(l2)
j=0
for j in r:
    print(j)

['Name, Age, Country', 'John, 25, USA', 'Alice, 30, Canada', 'Bob, 22, UK']
['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [1]:
#List

In [2]:
#1. Create a list with integers from 1 to 10.

l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#2. Find the length of a list without using the `len()` function.

l=[i for i in range(1,11)]
le=len(l)
print("\n Length of list ",le)

 Length of list  10

In [26]:
#3. Append an element to the end of a list.

l= []
s="Name, Age, Country\n John, 22, USA\n Alice, 23, India\n Sagar, 25, USA"
s=s.split('\n')
print("\n String ",s)
for s2 in s:
    s2=s2.split(',')
    print("\n s2 ",s2)
    l.append(s2)
   
    
for i in l:
    print(i)

 String  ['Name, Age, Country', ' John, 22, USA', ' Alice, 23, India', ' Sagar, 25, USA']

 s2  ['Name', ' Age', ' Country']

 s2  [' John', ' 22', ' USA']

 s2  [' Alice', ' 23', ' India']

 s2  [' Sagar', ' 25', ' USA']
['Name', ' Age', ' Country']
[' John', ' 22', ' USA']
[' Alice', ' 23', ' India']
[' Sagar', ' 25', ' USA']

In [28]:
#4. Insert an element at a specific index in a list.

l=[1,2,3,4,5,6,7,8]
l.insert(4,25)
print(l)

[1, 2, 3, 4, 25, 5, 6, 7, 8]

In [31]:
#5. Remove an element from a list by its value.
l=[1,2,3,4,5,6,7]
l.remove(2)
print("\n Element after remove ",l)

 Element after remove  [1, 3, 4, 5, 6, 7]

In [32]:
#6. Remove an element from a list by its index.

l=[1,2,3,4,5,6,7]
l.pop(0)
print(l)

[2, 3, 4, 5, 6, 7]

In [35]:
#7. Check if an element exists in a list.

l=[1,"sagar",3,4,5,6,"a"]
s=input("\n Enter the element")
if s in l:
    print("\n element is present ")
else:
    print("\n element is not present ")

 Enter the elementsagar

 element is present

In [39]:
#8. Find the index of the first occurrence of an element in a list.

l=[1,2,3,5,6,7,8,4,5,4]
s=4
l2=l.index(s)
print("\n index ",l2)

 index  7

In [40]:
#9. Count the occurrences of an element in a list.
l=[1,2,3,4,5,67,7,8,6,3,31,2,1,1,1,5]
s=l.count(1)
print(s)

4

In [41]:
#10. Reverse the order of elements in a list.
l=[1,1,2,4,3,5,6,7,8]
a=l[::-1]
print(a)

[8, 7, 6, 5, 3, 4, 2, 1, 1]

In [44]:
#11. Sort a list in ascending order.
l=[2,4,5,1,6,8,10,6,8,9]
l.sort()
print(l)

[1, 2, 4, 5, 6, 6, 8, 8, 9, 10]

In [45]:
#12. Sort a list in descending order.
l=[10,11,23,1,23,2,3,45,4,5,8,4]
l.sort(reverse=True)
print("\n Reverse of list",l)

 Reverse of list [45, 23, 23, 11, 10, 8, 5, 4, 4, 3, 2, 1]

In [47]:
#13. Create a list of even numbers from 1 to 20.

l=[i for i in range(0,21,2)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [50]:
#14. Create a list of odd numbers from 1 to 20.
l=[i for i in range(1,21,2)]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [53]:
#15. Find the sum of all elements in a list.
l=[i for i in range(1,11)]
print(l)
c=0
for i in l:
    c=c+i
print("\n Sum ",c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 Sum  55

In [55]:
#16. Find the maximum value in a list.

l=[i for i in range(1,21,1)]
ma=max(l)
print(ma)

20

In [56]:
#17. Find the minimum value in a list.

l=[i for i in range(1,21)]
mi=min(l)
print(mi)

1

In [57]:
#18. Create a list of squares of numbers from 1 to 10.
l=[i**2 for i in range(1,21,1)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [58]:
#19. Create a list of random numbers.
import random as r
l=[r.randint(1,100) for i in range(1,11)]
print(l)

[61, 73, 3, 20, 18, 29, 9, 6, 45, 73]

In [61]:
#20. Remove duplicates from a list.

l=[i for i in range(1,21)]
l2=[i for i in range(1,21)]
l3=l2+l
print(l3)
sl=set(l3)
print("\n Set ",sl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

 Set  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [68]:
#21. Find the common elements between two lists.

# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

s=set(list1).intersection(set(list2))
print(s)

{40, 50, 30}

In [67]:
#22. Find the difference between two lists.


# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

s=set(list1).difference(set(list2))
print(s)

{10, 20}

In [69]:
#23. Merge two lists.

l=[i for i in range(1,21)]
l2=[j for j in range(21,41)]
l3=l2+l
print(l3)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [71]:
#24. Multiply all elements in a list by 2.

l=[i*2 for i in range(1,21)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [73]:
#25. Filter out all even numbers from a list.
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
#26. Convert a list of strings to a list of integers.
s=["1","2","3","4"]
l=[]
for i in s:
    i=int(i)
    l.append(i)
print(l)

[1, 2, 3, 4]

In [76]:
#27. Convert a list of integers to a list of strings.
l=[str(i) for i in range(1,21)]
print(l)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [2]:
#28. Flatten a nested list.
def call(l):
    l2=[]
    for i in l:
        if isinstance(i,list):
            l2.extend(call(i))
        else:
            l2.append(i)
    return l2

l = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
l2=call(l)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#29. Create a list of the first 10 Fibonacci numbers.

f=[0,1]
for i in range(2,11):
    n=f[i-1]+f[i-2]
    f.append(n)
print(f)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [20]:
#30. Check if a list is sorted.

l=[1,2,4,3,5,6,7]
l2=l[:]
l2.sort()
print(l)
print(l2)
if(l==l2):
    print("\n Sorted")
else:
    print("\n Not sorted")

[1, 2, 4, 3, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

 Not sorted

In [1]:
#31. Rotate a list to the left by `n` positions.
l=[1,2,4,3,5,6,7]
n=int(input("\n Enter the position to rotate "))
l2=l[n:]+l[:n]
print("\n List ",l2)

 Enter the position to rotate 2

 List  [4, 3, 5, 6, 7, 1, 2]

In [6]:
#32. Rotate a list to the right by `n` positions.
l=[1,2,4,3,5,6,7]
n=int(input("\n Enter the position to rotate "))
l2=l[-n:]+l[:-n]
print("\n List ",l2)

 Enter the position to rotate 2

 List  [6, 7, 1, 2, 4, 3, 5]

In [16]:
#33. Create a list of prime numbers up to 50.

l=[]
for i in range(2,51):
    c=0
    for j in range(1,51):
        if i%j==0:
            c=c+1
    if(c==2):
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
#34. Split a list into chunks of size `n`.


l=[1,2,3,4,5,6,7,8]
n=int(input("\n Enter the value of N "))
for i in range(0,len(l),n):
    print(l[i:i+n])

 Enter the value of N 2
[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [22]:
#### 35. Find the second largest number in a list.

l=[1,2,3,5,4,6,7,8]
l.sort(reverse=False)
print(l)

print("\n Second larget Number :",l[-2])

[1, 2, 3, 4, 5, 6, 7, 8]

 Second larget Number : 7

In [24]:
#### 36. Replace every element in a list with its square.

l=[1,2,3,4,5,6]
l2=[]
for i in l:
    i=i**2
    l2.append(i)
print(l2)

[1, 4, 9, 16, 25, 36]

In [29]:
### 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l=["Apple","Banana","Grapes","cherry","date"]
s={}
for i,element in enumerate(l):
    s[i]=element
print(s)

{0: 'Apple', 1: 'Banana', 2: 'Grapes', 3: 'cherry', 4: 'date'}

In [31]:
### 38. Shuffle the elements of a list randomly.
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [9, 3, 10, 1, 5, 2, 6, 7, 8, 4]

In [46]:
### 39. Create a list of the first 10 factorial numbers.

l=[]
i=11
f=1
while(i>1):
    i=i-1
    #print(i)
    f=f*i
print("Factorial ",f)

Factorial  3628800

In [47]:
### 40. Check if two lists have at least one element in common.

l=[1,2,3,4,5,6,7,8]
l2=[10,20,30,1,3,4,5,40]
for i in l:
    if i in l2:
        print("\n yes present",i)

 yes present 1

 yes present 3

 yes present 4

 yes present 5

In [48]:
### 41. Remove all elements from a list.
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [52]:
### 42. Replace negative numbers in a list with 0.
# Example list
l = [10, -5, 20, -15, 30, -25]
for i in range(len(l)):
    if l[i]<0:
        l[i]=0
print(l)

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", l)

[10, 0, 20, 0, 30, 0]
List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [54]:
### 43. Convert a string into a list of words.
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [55]:
### 44. Convert a list of words into a string.
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [56]:
### 45. Create a list of the first `n` powers of 2.

l=[]
n=int(input("\n Enter the number "))
for i in range(1,n+1):
    s=i**2
    l.append(s)
print(l)

 Enter the number 4
[1, 4, 9, 16]

In [59]:
### 46. Find the longest string in a list of strings.
# Example list of strings
l= ["apple", "banana", "cherry", "date", "elderberry"]
s=""
for i in l:
    if len(i)>len(s):
        s=i
print("\n The longest element ",s)

 The longest element  elderberry

In [62]:
### 47. Find the shortest string in a list of strings.
l= ["apple", "banana", "che", "date", "elderberry"]
s=l[0]
for i in l:
    if len(i)<len(s):
        s=i
print("\n The short element ",s)

 The short element  che

In [63]:
### 48. Create a list of the first `n` triangular numbers.
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [70]:
### 49. Check if a list contains another list as a subsequence.

l=[1,2,3,4,5,6,7,8]
l2=[2,3,4]
j=0
for i in l:
    print("j",j)
    print("I",i)
    if i == l2[j]:
        print("\n Matching")
        j=j+1
    if len(l2)==j:
        print("\n yes ")
        break
else:
    print("\n No")

j 0
I 1
j 0
I 2

 Matching
j 1
I 3

 Matching
j 2
I 4

 Matching

 yes

In [72]:
### 50. Swap two elements in a list by their indices.

l=[1,2,3,4,5,6]
print("\n List before swap ",l)
temp=0
i=1
j=3
temp=l[i]
l[i]=l[j]
l[j]=temp
print("\n List after swap ",l)

 List before swap  [1, 2, 3, 4, 5, 6]

 List after swap  [1, 4, 3, 2, 5, 6]

## **Tuple based practice problem :**

---

In [74]:
### 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,5,5)
print(t)

(1, 2, 3, 5, 5)

In [75]:
### 2. Access the third element of a tuple.
print(t[3])

5

In [76]:
c=0
for i in t:
    c=c+1
print("\n Length of Tuple ",c)

 Length of Tuple  5

In [79]:
### 4. Count the occurrences of an element in a tuple.

# Step 1: Create a tuple
t2 = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element= 20
c=0
for i in t2:
    if i==element:
        c=c+1
print("\n Occurrence of 20 ",c)

 Occurrence of 20  3

In [89]:
### 5. Find the index of the first occurrence of an element in a tuple.
t=(1,2,5,6,4,5,4,4)
e=4
c=0
for i,element in enumerate(t):
    if e==element:
        print("\n First occurence of tuple element ",i)
        break

 First occurence of tuple element  4

In [96]:
##6. Check if an element exists in a tuple.

t=(1,2,3,"sagar",5,4)
e="sagar"

if e in t:
    print("\n Element Exist in the tuple ")
else:
    print("\n No Element found")

 Element Exist in the tuple

In [97]:
#7. Convert a tuple to a list.

t=(1,2,3,4,"Mukul","Soumya",5,6)
l=list(t)
print("\n List ",l)

 List  [1, 2, 3, 4, 'Mukul', 'Soumya', 5, 6]

In [98]:
##8. Convert a list to a tuple.

l=[1,2,3,4,5,"sagar","Rao"]
t=tuple(l)
print("\n Tuple ",t)

 Tuple  (1, 2, 3, 4, 5, 'sagar', 'Rao')

In [102]:
##9. Unpack the elements of a tuple into variables.

# Step 1: Create a tuple
my_tuple = (10, 20, 30,4)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3,var4 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)

var1: 10
var2: 20
var3: 30
var4: 4

In [107]:
#10. Create a tuple of even numbers from 1 to 10.
l=[]
for i in range(1,11):
    if i %2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [108]:
### 11. Create a tuple of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
    if i%2!=0:
        l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)

In [110]:
#12. Concatenate two tuples.

t=(1,2,3,4)
t2=(5,6,7,8)
t3=t2+t
print("\n Tuple ",t3)

 Tuple  (5, 6, 7, 8, 1, 2, 3, 4)

In [113]:
#13. Repeat a tuple three times.
t=(1,2,3,4)
t=t*3
print("\n Tuple Three times",t)

 Tuple Three times (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [116]:
#14. Check if a tuple is empty.
t=()
t2=(1,2,3,3,4)
if not t:
    print("\n Empty ")
else:
    print("\n not Empty")
if not t2:
    print("\n Empty ")
else:
    print("\n Not Empty")

 Empty

 Not Empty

In [119]:
#15. Create a nested tuple.
t=((3,4),("Sagar","Rahul"),1,2)
print("\n Nested Tuple ",t)

 Nested Tuple  ((3, 4), ('Sagar', 'Rahul'), 1, 2)

In [121]:
#### 16. Access the first element of a nested tuple.
t=((3,4),("Sagar","Rahul"),1,2)
print(t[0])

(3, 4)

In [123]:
#17. Create a tuple with a single element.
t=(9,)
print("\n Single element tuple ",t)

 Single element tuple  (9,)

In [124]:
#18. Compare two tuples.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [129]:
#19. Delete a tuple.
# Step 1: Create a tuple

tuples =(1, 2, 3, 4, 5)
del tuples
print(tuples)

NameError: name 'tuples' is not defined

In [130]:
#20. Slice a tuple.

t=(1,2,2,3,4,2,1,4)
print(t[2:4])

(2, 3)

In [131]:
#21. Find the maximum value in a tuple.

t=(1,2,3,4,5,6,7,8)
t=max(t)
print('\n Maximum value',t)

 Maximum value 8

In [132]:
#22. Find the minimum value in a tuple.
t=(1,2,34,4,5,6)
t=min(t)
print(t)

1

In [134]:
#23. Convert a string to a tuple of characters.

s="sagar"
l=list(s)
print("\n list",l)
t=tuple(s)
print("\n tuple ",t)

 list ['s', 'a', 'g', 'a', 'r']

 tuple  ('s', 'a', 'g', 'a', 'r')

In [137]:
#24. Convert a tuple of characters to a string

t=('h','e','l','l','o','','s','a','g','a','r')
s="".join(t)
print(s)

hellosagar

In [138]:
#25. Create a tuple from multiple data types.
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [139]:
#26. Check if two tuples are identical
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [140]:
#27. Sort the elements of a tuple.
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [141]:
#28. Convert a tuple of integers to a tuple of strings.
l=[]
t=(1,2,3,4,5)
for i in t:
    s=str(i)
    l.append(s)
t=tuple(l)
print(t)

('1', '2', '3', '4', '5')

In [142]:
#29. Convert a tuple of strings to a tuple of integers.
t=('1', '2', '3', '4', '5')
l=[]
for i in t:
    s=int(i)
    l.append(s)
t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [143]:
#30. Merge two tuples.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [144]:
#31. Flatten a nested tuple.
t=((1,2),(3,4),(5,6))
l=[]
for i in t:
    for j in i:
        l.append(j)
t=tuple(l)
print("\n Tuple ",t)

 Tuple  (1, 2, 3, 4, 5, 6)

In [154]:
#32. Create a tuple of the first 5 prime numbers.
l=[]
a=0
for i in range(0,20):
    c=0
    for j in range(1,20):
        if i%j==0:
            c=c+1
    if c==2:
        a=a+1
        l.append(i)
    if a==5:
        break
t=tuple(l)
print("\n First five prime numbers ",t)

 First five prime numbers  (2, 3, 5, 7, 11)

In [157]:
#33. Check if a tuple is a palindrome.
t="naman"
t2=t[::-1]
if(t==t2):
    print("\n Palindrome ")
else:
    print("\n Not Palindrome ")

 Palindrome

In [158]:
#34. Create a tuple of squares of numbers from 1 to 5.
t=[]
for i in range(1,6):
    i=i**2
    t.append(i)
t2=tuple(t)
print("\n tuple square ",t2)

 tuple square  (1, 4, 9, 16, 25)

In [160]:
#35. Filter out all even numbers from a tuple.
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
l=[]
for i in t:
    if i%2==0:
        l.append(i)
print("\n Tuple ",tuple(l))

 Tuple  (2, 4, 6, 8, 10)

In [161]:
#36. Multiply all elements in a tuple by 2.
t= (1, 2, 3, 4, 5)
l=[]
for i in t:
    i=i*2
    l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [164]:
#37. Create a tuple of random numbers.
import random
for i in range(10):
    a=random.randint(1,100)
    l.append(a)
print(tuple(l))

(2, 4, 6, 8, 10, 27, 95, 67, 53, 46, 73, 5, 82, 35, 49, 52, 81, 97, 54, 78, 78, 69, 48, 9, 26, 7, 57, 67, 52, 46, 79, 67, 31, 20, 5)

In [166]:
#38. Check if a tuple is sorted.
t2 = (1, 2, 3, 4, 5)
t = (5, 3, 1, 4, 2)

for i in range(len(t)-1):
    if t[i]<t[i+1]:
        c=1
    else:
        c=0
if(c):
    print("\n sorted")
else:
    print("\n Not sorted ")

 Not sorted

In [167]:
#39. Rotate a tuple to the left by n positions.
t = (5, 3, 1, 4, 2)
n=int(input("\n enter the value of N "))
t=t[n:]+t[:n]
print("\ after rotatiton to left ",t)

 enter the value of N 2
\ after rotatiton to left  (1, 4, 2, 5, 3)

In [171]:
#40. Rotate a tuple to the right by n positions.
t = (1,2,3,4,5)
n=int(input("\n enter the value of N "))
t=t[-n:]+t[:-n]
print(t)

 enter the value of N 2
(4, 5, 1, 2, 3)

In [1]:
#42. Create a tuple from user input.

a=input("\n Enter the elements seprated by ,")
l=a.split(',')
print(tuple(l))

 Enter the elements seprated by ,1,2,3,'sagar',4,5
('1', '2', '3', "'sagar'", '4', '5')

In [4]:
#43. Swap two elements in a tuple.

t=(1,2,3,4,5)
t=list(t)
temp=t[0]
t[0]=t[1]
t[1]=temp
print("\n after swapping ",tuple(t))

 after swapping  (2, 1, 3, 4, 5)

In [5]:
#44. Reverse the elements of a tuple.

t=(1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [6]:
#45. Create a tuple of the first n powers of 2.
n=int(input('\n Enter the value of N '))
l=[]
for i in range(1,n+1):
    i=i**2
    l.append(i)
print("\n Tuple ",tuple(l))

 Enter the value of N 2

 Tuple  (1, 4)

In [8]:
#46. Find the longest string in a tuple of strings.

t=("sagar","Mukul agrawal","somya","shri ajayyyyyy",'shri beena')
m=0
for i in t:
    if len(i)>m:
        m=len(i)
        res=i
print("\n longest element ",res)

 longest element  shri ajayyyyyy

In [24]:
#47. Find the shortest string in a tuple of strings

t2=("saar","Mukul agrawal","somya","shri ajayy",'shri beena')
m=100
r=0
for j in t2:
    print("\ yes")
    print(len(j))
    if len(j)<m:
        m=len(j)
        r=j
print("\n shortest element ",r)

\ yes
4
\ yes
13
\ yes
5
\ yes
10
\ yes
10

 shortest element  saar

In [25]:
##48. Create a tuple of the first n triangular numbers.

# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
### 49. Check if a tuple contains another tuple as a subsequence.

t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
t2 = (3, 4, 5)
i=0
c=0
for j in t1:
    if j ==t2[i]:
        i=i+1
    if i==len(t2):
        print("\n Yes ")
        break
else:
    print("\n No ")

#Sets

In [44]:
#1. Create a set with integers from 1 to 5
s=set()
s.add(2)
s.add(3)
s.add(4)
print(s)

{2, 3, 4}

In [45]:
### 2. Add an element to a set
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [49]:
#3. Remove an element from a set.
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
my_set

{1, 2, 4, 5}

In [52]:
#4. Check if an element exists in a set.
s = {1, 2, 3, 4, 5}
e=2
if e in s:
    print("\n Yes present")
else:
    print("\n Not Present")

 Yes present

In [53]:
#5. Find the length of a set without using the len() function
s = {1, 2, 3, 4, 5}
c=0
for i in s:
    c=c+1
print("\n Length of sets ",c)

 Length of sets  5

In [54]:
#6. Clear all elements from a set.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [55]:
#7. Create a set of even numbers from 1 to 10
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

In [56]:
#8. Create a set of odd numbers from 1 to 10
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

In [57]:
#9. Find the union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s=set1.union(set2)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
#10. Find the intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s=set1.intersection(set2)
print(s)

{4, 5}

In [60]:
#11. Find the difference between two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

s=set2.difference(set1)
print(s)

{6, 7}

In [62]:
#12. Check if a set is a subset of another set.
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print("\n subset check ",set2.issubset(set1))

 subset check  False

In [65]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print("\n SuperSet ",set2.issuperset(set1))

 SuperSet  True

In [66]:
#14. Create a set from a list
my_list = [2, 4, 1, 4, 3, 2, 5]
s=set(my_list)
print("\n Set ",s)

 Set  {1, 2, 3, 4, 5}

In [67]:
#15. Convert a set to a list.

my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
l=list(my_set)
print("\n List ",l)

 List  [1, 2, 3, 4, 5, 6, 9]

In [73]:
#16. Remove a random element from a set.
import random
s={1, 2, 3, 4, 5}
r=random.choice(list(s))
s.remove(r)
print("\n Sets ",s)

 Sets  {2, 3, 4, 5}

In [76]:
#17. Pop an element from a set.
s={1, 2, 3, 4, 5}
s.pop()
print(s)

{2, 3, 4, 5}

In [78]:
#18. Check if two sets have no elements in common.
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 4, 8}
s=set1.intersection(set2)
print("\n Common Element ",s)

 Common Element  {4}

In [79]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print("\n Symmetric difference ",set1^set2)

 Symmetric difference  {1, 2, 3, 6, 7, 8}

In [80]:
#20. Update a set with elements from another set.
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [93]:
#21. Create a set of the first 5 prime numbers.
s=set()
b=0
for i in range(2,20):
    c=0
    for j in range(1,20):
        if i % j==0:
            c=c+1
    if c==2:
        b=b+1
        print("\n prime ",i)
        s.add(i)
    if b==5:
        break
print(s)

 prime  2

 prime  3

 prime  5

 prime  7

 prime  11
{2, 3, 5, 7, 11}

In [98]:
#22. Check if two sets are identical.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  

print("\n checking Identical ",set1==set2)

 checking Identical  True

In [99]:
#23. Create a frozen set
s={1,2,3,4,5}
s=frozenset(s)
print("\n Set ",s)

 Set  frozenset({1, 2, 3, 4, 5})

In [100]:
#24. Check if a set is disjoint with another set.
"""For any two sets say A and B are said to be disjoint if A  B =  i.e they dont have any common component.
So if there are two sets, one should first check the intersection of both sets.
After intersection, if the result does not contain any common component, then the sets are said to be Disjoint sets."""

# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [101]:
#25. Create a set of squares of numbers from 1 to 5.
s=set()
for i in range(1,6):
    i=i**2
    s.add(i)
print("\n Square ",s)

 Square  {1, 4, 9, 16, 25}

In [103]:
#26. Filter out all even numbers from a set.
s= {1, 2, 3, 4, 5,6,7,8,9,10,11,12}
s2=set()
for i in s:
    if i %2==0:
        s2.add(i)
print("\n Even Number set ",s2)

 Even Number set  {2, 4, 6, 8, 10, 12}

In [104]:
#27. Multiply all elements in a set by 2.
s = {1, 2, 3, 4, 5}
s2=set()
for i in s:
    i=i*2
    s2.add(i)
print("\n Set ",s2)

 Set  {2, 4, 6, 8, 10}

In [106]:
#28. Create a set of random numbers.
import random

s=set()
for i in range(5):
    n=random.randint(1,100)
    s.add(n)
print("\n Set ",s)

 Set  {97, 35, 71, 88, 94}

In [111]:
#29. Check if a set is empty.

s={}

if not s:
    print("\n set is empty ")
else:
    print("\n set is not empty ")

 set is empty

In [112]:
#30. Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
fset1=frozenset(set1)
fset2=frozenset(set2)
n={fset1,fset2}
print("\n Frozen Sets ",n)

 Frozen Sets  {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [113]:
#31. Remove an element from a set using the discard method.
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [114]:
### 32. Compare two sets.
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [115]:
#33. Create a set from a string
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'e', 'l', 'h', 'o'}

In [120]:
#34. Convert a set of strings to a set of integers.
s={'1','2','3','4','5'}
s2=set()
for i in s:
    i=int(i)
    s2.add(i)
print("\n Set ",s2)

 Set  {1, 2, 3, 4, 5}

In [121]:
#### 35. Convert a set of integers to a set of strings.
i={1,2,3,4,5}
s=set()
for j in i:
    j=str(j)
    s.add(j)
print("\n Set ",s)

 Set  {'3', '2', '4', '1', '5'}

In [122]:
#36. Create a set from a tuple.
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [123]:
#37. Convert a set to a tuple.
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [136]:
#38. Find the maximum value in a set.
s={8,2,3,9,5,6,7,1}
m=0
r=0
for i in s:
    if i>m:
        m=i
        r=m
print("\n Maximum Value ",r)

 Maximum Value  9

In [139]:
#39. Find the minimum value in a set.

s={1,2,3,4,5}
m=2
re=0
for i in s:
    if i<m:
        print("\n yes")
        m=i
        re=m
print("\n Minimum value ",re)

 yes

 Minimum value  1

In [140]:
#40. Create a set from user input.
s=set()
while True:
    i=input("\n Enter the Element ")
    if i =='Done':
        break
    s.add(i)
print(s)

 Enter the Element 1

 Enter the Element 2

 Enter the Element 3

 Enter the Element 4

 Enter the Element 0

 Enter the Element Done
{'3', '2', '4', '1', '0'}

In [141]:
#41. Check if the intersection of two sets is empty
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
s=set1.intersection(set2)
if not s:
    print("\n set is empty ")
else:
    print("\n Set is not Empty ")

 Set is not Empty

In [146]:
#42. Create a set of the first 5 Fibonacci numbers.
a=0
b=1
c=0
s=set()
s.add(a)
s.add(b)
for i in range(5):
    c=a+b
    a=b
    b=c
    s.add(a)
print(s)

{0, 1, 2, 3, 5}

In [148]:
#43. Remove duplicates from a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
s=set(original_list)
print(list(s))

[2, 4, 6, 8, 10, 12, 14]

In [151]:
#44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
if set1==set2:
    print("\n yes ")
else:
    print("\n No ")

 yes

In [154]:
#45. Create a set of the first n powers of 2

s=set()
n=int(input("\n Enter the value of N "))
for i in range(n):
    i=i**2
    s.add(i)
print("\n Set ",s)

 Enter the value of N 5

 Set  {0, 1, 4, 9, 16}

In [155]:
#46. Find the common elements between a set and a list.
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [156]:
#47. Create a set of the first n triangular numbers.:
n=int(input("\n Enter the value of N "))
s=set()
for i in range(1,n+1):
    b=(i*(i+1))//2
    s.add(b)
print("\n set  ",s)

 Enter the value of N 5

 set   {1, 3, 6, 10, 15}

In [158]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
if set2.issubset(set1):
    print("\n yes ")
else:
    print("\n No ")

 yes

In [166]:
#49. Create a set of alternating 1s and 0s of length n.
s=set()
n=int(input("\n enter the value of N "))
a=-1
c=0
b=1
for i in range(n):
    c=a*b
    b=c
    print("c",c)
    if(c==1):
        s.add(1)
    elif(c==-1):
        s.add(0)
print(s)

 enter the value of N 5
c -1
c 1
c -1
c 1
c -1
{0, 1}

In [167]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

s=set3.union(set1,set2)
print("\n Merge of Set ",s)

 Merge of Set  {1, 2, 3, 4, 5, 6, 7}